.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    margin: 36px auto 48px;
}

@media (max-width: 910px) {
    .profile {
        flex-direction: column;
        margin-bottom: 35px;
    }
}